#header{
    background: #f00;
    height: 32px;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
}
#login-contain{
    line-height: 32px;
    /*display: inline;*/
    float: left;
}
#login-contain a{
    padding-left: 20px;
    color: #fff;
}
#login-contain a:hover{
    color:red;
}


#header-menu{
    float: right;
    line-height: 32px;
}
#header-menu .menu{
    float: left;
    padding: 0 14px;
    position: relative;
}
#header-menu .menu a{
    color:#fff;
}
#header-menu .iconfont{
    color: #fff;
    font-size: 14px;
}
#header-menu .menu-hd::after{
    content: '';
    border: 3px solid transparent;
    border-top-color: #bbb;
    position: absolute;
    right: 4px;
    top:16px;
    transform-origin: 3px 1.5px;
}
#header-menu .menu-hd:hover{
     background: #ffffff;
}
#header-menu .menu-hd:hover a{
    color: red;
    text-decoration: underline;
}
#header-menu .menu-nav:hover a{
    color:yellow;
}

#header-menu .menu-nav:hover a span{
    color:#fff;
}
#header-menu .menu-nav a:hover span{
    color:yellow;
}
#header-menu .menu-nav:hover .iconfont{
    color:yellow;
}
#header-menu .menu-hd:hover::after{
    transition: transform .2s linear;
    transform: rotate(180deg);
}
#header-menu .sub-menu{
    border: 1px solid #ccc;
    border-top: 0;
}
#header-menu .sub-menu li{
    padding: 0 14px;
}
#header-menu .sub-menu a{
    color:#999;
}
