#header{
    background: #f00;
    height: 32px;
    color: #fff;
    font-weight: 100;
    font-size: 12px;
}
#login-contain{
    line-height: 32px;
    /*display: inline;*/
    float: left;
}
#login-contain a{
    padding-left: 20px;
    color: #fff;
}
#login-contain a:hover{
    color:red;
}


#header-menu{
    float: right;
    line-height: 32px;
}
#header-menu .menu{
    float: left;
    padding: 0 14px;
    position: relative;
}
#header-menu .menu a{
    color:#fff;
}
#header-menu .iconfont{
    color: #fff;
    font-size: 14px;
}
#header-menu .menu-hd::after{
    content: '';
    border: 3px solid transparent;
    border-top-color: #bbb;
    position: absolute;
    right: 4px;
    top:16px;
    transform-origin: 3px 1.5px;
}
#header-menu .menu-hd:hover{
     background: #ffffff;

}
#header-menu .menu-hd:hover .sub-menu{
    display: block;
}
#header-menu .menu-hd:hover>a{
    color: red;
    text-decoration: underline;
}
#header-menu .menu-nav:hover a{
    color:yellow;
}

#header-menu .menu-nav:hover a span{
    color:#fff;
}
#header-menu .menu-nav a:hover span{
    color:yellow;
}
#header-menu .menu-nav:hover .iconfont{
    color:yellow;
}
#header-menu .menu-hd:hover::after{
    transition: transform .2s linear;
    transform: rotate(180deg);
}
#header-menu .sub-menu{
    border: 1px solid #ccc;
    border-top: 0;
    position: absolute;
    top:32px;
    left:0;
    width: 100px;
    display: none;
}
#header-menu .sub-menu li{
    padding: 0 14px;
}
#header-menu .sub-menu a{
    color:#999;
}
#header-menu .sub-menu a:hover{
    color:#f00;
    text-decoration: underline;
}
#search{
    height: 130px;
}
#search img{
    width: 240px;
    float: left;
}
#search-contain{
    float: left;
    margin-top: 40px;
    margin-left: 90px;
}
#search-contain .search-list li{
    float: left;
}
#search-contain .search-input{
    border: 2px solid #ff2736;
    height: 36px;
}
#search-contain .search-input input{
    width: 490px;
    height: 36px;
    outline: none;
    border: 0;
    float: left;
    text-indent: 10px;
}
#search-contain .search-input input::placeholder{
    color:#ccc;
    font-size: 18px;
}
#search-contain .search-input button{
    width: 132px;
    height: 36px;
    border: 0;
    background: #ff2736;
    color:#fff;
    font-size: 18px;
    outline: none;
    float: left;
}
#search-contain .search-list li{
    padding: 0 12px;
    margin-top: 5px;
    /*border:1px solid transparent;*/
    border-right: 1px solid #ccc;
}
#search-contain .search-list li.last {
    border-right: 0;
}
#search-contain .search-list li.first {
    padding-left: 0;
}
#search-contain .search-list li a{
    color:#ccc;
}
#search-contain .search-list li.red a{
    color:#f00;
}
#main-menu{
    margin-left: 240px;
    height: 30px;
}
#main-menu img{
    width: 100px;
    float: left;
    margin-right:20px;
}
#main-menu ul{
    float: left;
    margin-top: 4px;
}

#main-menu li{
    float: left;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 100;
}
#banner{
    position: relative;
    border-top: 2px solid #f00;
}
#banner .banner-img li a{
    display: block;
    width: 1230px;
    margin: 0 auto;
}
#banner li a img{
    width: 100%;
}
#banner .nav{
    position: absolute;
    background: rgba(0,0,0,.5);
    /*opacity: .2;*/
    top:-31px;

}
#banner .nav >li{
    width: 200px;
    height: 31px;
    line-height: 31px;
    color:#fff;
}
#banner .nav > li > a{
    color:#fff;
    font-weight: 100;
}
#banner .nav li i{
    margin: 0 10px;
}
#banner .nav li.product{
    background: #ff0000;
    font-size: 16px;
}
#banner .nav li.product i{
    font-size: 20px;
}
#banner .nav li:hover{
    background: #ffffff;
}
#banner .nav li.red:hover,#banner .nav li.red:hover > a{
     color:red;
 }
#banner .nav li.blue:hover,#banner .nav li.blue:hover > a{
    color:blue;
}
#banner .nav li.yellow:hover ,#banner .nav li.yellow:hover > a{
    color:yellow;
}
#banner .banner-menu{
    position: absolute;
    top:31px;
    left:200px;
    background: #fff;
    width: 852px;
    height: 500px;
}
#banner .banner-left > li{
    margin: 10px 0;
}
#banner .banner-menu .banner-left{
    width: 643px;
    height: 500px;
}
#banner .banner-menu .banner-menu-head{
     float: left;
 }
#banner .banner-menu .banner-menu-head a{
   font-size: 20px;
    margin: 0 20px;
}
#banner .banner-menu .banner-menu-list{
    width: 493px;
    float: left;
    line-height: 20px;
    margin-top: 2px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}
#banner .banner-menu-list li{
    float: left;
    margin-left: 10px;
}

